//Google Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Playfair+Display:400italic);
@font-face{
	font-family: 'Bebas';
	src:url('../font/bebas___-webfont.weot'), url('../font/bebas___-webfont.woff'), url('../font/bebas___-webfont.ttf');
}

@font-face{
	font-family: 'Helvetica';
	src:url('../font/HelveticaNeue.weot'), url('../font/HelveticaNeue.woff'), url('../font/HelveticaNeue.ttf');
}