*{
	margin: 0;
    padding: 0;
	.floatleft{
		@extend %left;
	}
	.floatright{
		@extend %right;
	}
	.fix{
		overflow: hidden;
	}
}
body{
    font-family:$open-sans;
    font-size: 14px;
    line-height: 20px;
    color: #414141;
}
.header_bottom_area{
	min-height: 50px;
	background-color: $pink;
}
.main_content_area{
	margin: -50px auto;
	width: 100%;
	.structure{
		width: 92%;
	}
	.content_area {
    	background-color:$white;
    	border-left: 10px solid $white;
    	border-right: 10px solid $white;
    	margin:0 auto;
    	.ei-slider{
    		position: relative;
    		width: 100%;
    		margin: 0 auto;
    		img{
    			width: 100%;
    			padding-bottom: 1%;
    		}
    	}
	}
}
.service_area{
	margin-top: 2%;
	@extend %fix;
	.single_service_container{
		width: 100%;
	}
	.single_service{
		width: 33.33333%;
		h2{
			color: $orange-dark;
    		font-size: 16px;
    		font-family: $bebas;
    		padding: 3%;
		}
		p{
			color: $black-light;
			font-family: $heveltica;
			margin-bottom: 20px;	
		}
		a{
			background-color:$orange-dark;
   	 		color: $white;
    		display: block;
    		font-family: $bebas;
    		font-size: 12px;
    		margin-top: 20px;
    		padding: 5px 12px;
    		width: 30px;
    		text-decoration: none;
		}
	}
	.portfolio{
		h2{
			background: url("../images/portfolio.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    		padding-left: 68px;
		}
	}
	.offer{
		h2{
			background: url("../images/offer.png") no-repeat scroll left center rgba(0, 0, 0, 0);
   			 padding-left: 70px;
		}
	}
	.follow{
		h2{
		    background: url("../images/follow.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    		padding-left: 60px;
    	}
	}
}
.from_blog{
	margin-top: 5%;
	h2{
		@include h2;
	}
	.single_blogpost_container{
		.single_blog_post{
			width: 22%;
    		margin: 1% 1% 1% 2%;
			img{
    			width: 98%;
    		}
			.blog_post_meta{
				@include gallery;
			}
		}
	}
}
.from_works{
	margin-top: 30px;
	h2{
		@include h2;
	}
	.single_work_container{
		.single_work{
			width: 22%;
    		margin: 1% 1% 1% 2%;
			img{
				width: 98%;
			}
		.blog_post_meta{
			@include gallery;
			}
		}
	}
}
